{% extends 'BRSCoreBundle:Widget:list.html.twig' %}
{% block pre_list_actions %}

<span class="btn btn-small btn-success btn-file list-action" name="upload"><i class="icon-upload icon-white"></i> {{ 'Upload Files' | trans }}<input class="list-file-input" type="file" name="form[file]" data-url="{{ upload_url }}" multiple></span>

{{ form_widget(form._token) }}    

{% endblock %}
{% block widget_js %}
<script language="JavaScript">
	
	var list = new FileList({
		name:'{{ name }}', 
		route:'{{ route }}', 
		action:'{{ path(route, { 'name':name, 'route':'' }) }}',
		total: {{ total }},
		page: {{ page }},
		pages: {{ pages }},
		page_size: {{ page_size }},
		max_file_size: {{ max_file_size }},
	});
	
</script>
{% endblock %}