<ul class="{{ ul_class }}">
	
	<li><a class="folder-link" href="{{ path('brs_file_fileadmin_index') }}" data-dir-id="0" data-nav-route="brs_file_fileadmin_index">{{ 'Root' | trans }}</a> <span class="divider">/</span></li>
	
	{% if entity_id %}
		{% for folder in path %}
			<li><a class="folder-link" href="{{ path("brs_file_fileadmin_list", {id: folder.id}) }}" data-dir-id="{{ folder.id }}" data-nav-route="brs_file_fileadmin_list">{{ folder.name }}</a> <span class="divider">/</span></li>
		{% endfor %}
	{% endif %}
	
</ul>